body { padding-top: 70px; }

nav {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #777;
}

.navbar-default .navbar-brand {
    color: #a085b1;
    &:hover{
      color: #8e6da2;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    &:hover {
      color: #8e6da2;
    }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #8e6da2;
    background-color: transparent;
}
